[Unit]
Description=Sample Trader

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/pycryptobot/
ExecStart=/usr/bin/python3.9 -u pycryptobot.py --config sample.config.json
Restart=on-failure
RestartSec=120s

[Install]
WantedBy=multi-user.target
